body {background-color: rgb(53, 47, 107);
}
h1 {text-align: center;
    font-size: 250%;
     color:rgb(139, 0, 0);}
#ha {width: 28%;
    margin-left: 34%;
    
    
}
    
#ny {width: 30%;
    margin-left: 33%;
    
}
h3 {font-size: 200%;
    color:rgb(17, 0, 255);
}