body {background-color: rgb(18, 11, 77);
}
h1 {text-align: center;
    font-size: 250%;
     color:rgb(111, 101, 202);}
#ny {width: 28%;
    margin-left: 34%;
    
    
}
    
#ha {width: 22%;
    margin-left: 37%;
    
}
h3 {font-size: 200%;
    color:rgb(17, 0, 255);
}
#es {width: 50%;
    margin-left: 22%;
    
}

h3 {font-size: 200%;
    color:rgb(17, 0, 255);
}
h2 {text-align: center;
    font-size: 250%;
     color:rgb(238, 238, 238);}
     
}